<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>A crazy wild adventure</h1>
      <p>
        One strange day, @Model.Person1 and @Model.Person2 were walking on a beach, when suddenly a cute  @Model.Animal appeared. @Model.Exclamation,  @Model.Person1 screamed. The both of them @Model.Verb as quickly possible, and when they were tired, @Model.Person1 and  @Model.Person2 fed each other a tasty @Model.Food .
      </p>
  </body>
</html>